#catalog-list-table {
    cellspacing: 10px;
}

#catalog-row:hover{
    background: #e6f2ff;
    cursor: pointer;
}

.sidebar {
    min-width: 250px;
}

.sidebar div {
    margin-bottom: 15px;
}

.details th{
    width: 50px;
}